.header img{
    width: 130px;
    height: 100%;
}

.header{
    background:#ececee;
    height: 70px;
}

.header ul{

}

.header ul li{
    display:inline-block;
}

.header ul li a{
    padding: 20px 20px;
    color: rgb(58, 56, 56);
}

.main-menu{
    padding: 20px;
}

.banner{
    background-image: url(g-wall.jpg);
    padding: 180px;
}

.h1-h2{
    padding-top: 20px;
}

.about{
    padding: 20px;
    background:#ececee;
}

.service{
    padding: 25px;
}

#blue {
    background:rgb(112, 154, 233);
}

#red {
    background:rgb(245, 144, 126);
}

#yellow {
    background:rgb(255, 230, 88);
}

img {
    max-width:100%
}

.new-list {
    list-style: none;
    padding-left: 0;
    background:#ececee;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 5px;
    font-size:15px;
}

.maps{
padding: 5px;
}


